/*PROBLEMAS*/
/*1. Tengo problemas para centrar los objetos*/
/*2. no me agarra el GRID en página SERVICIOS*/

/*SEGUNDA PRE ENTREGA*/
/*PSEUDO CLASES: NAVBAR*/
/*Bootstrap NavBar*/
/*Responsive 1: Presentación*/
/*Responsive 2: Experiencia*/
/*Responsive 3: Contacto*/


@import "header";
@import "footer";
@import "index";
/*Skills*/
@import "estudios";
@import "skills";
/*RESET CSS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
}


/*Estilo body*/



/*===============*/
/*Experiencia*/
/*===============*/

#experiencia {
    display: block;
    align-items: center;
}

#experiencia h1 {
    margin-top: 100px;
    box-sizing: content-box;
    width: 100%;
    text-align: center;

}

.moovmedia {
    display: flex;
    padding-top: 50px;
    padding-left: 100px;
    gap: 50px;
    align-items: center;
}

.unab {
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    gap: 50px;
    align-items: center;
}

#experiencia h2 {
    margin-top: 100px;
    box-sizing: content-box;
    width: 100%;
    text-align: center;

}

/*===============*/
/*Clientes*/
/*===============*/
.logos {
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
}

.clientes_logos1 , .clientes_logos2 {
    display: flex;
    margin: 50px;
    gap: 50px;
}

/*===============*/
/*Contacto*/
/*===============*/

#contacto {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#formulario h1 {
    text-align: center;
}

.form_input {
    resize: none;
    border: solid;
    width: 500px;
    height: 30px;
    font-size: 20px;
}

.form_mesaje {
    resize: none;
    font-size: 20px;
    height: 200px;
}

.form_data {
    margin: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    resize: none;
}

.form_boton {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #273a97;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*====================*/
/*Responsive - Inicio*/
/*==================*/
@media (max-width: 900px) {

    .presentacion,
    h1,
    h2,
    p,
    #botones,
    .img_presentacion {
        margin-top: 20px;
        width: 80%;
    }

    #main {
        display: inline;
        align-items: center;
    }

    .presentacion {
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .botones {
        display: flex;
        width: 50%;
        margin-left: 70px;
    }
}

@media (max-width: 500px) {

    .presentacion,
    h1,
    h2,
    p,
    #botones,
    .img_presentacion {

        margin-top: 20px;
        width: 80%;
    }

    #main {
        display: inline;
        width: 90%;
        height: 100%;
        margin: 10px;
    }

    .presentacion {
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .botones {
        display: inline;
        width: 50%;
        margin-left: 70px;

    }
}

/*=========================*/
/*Responsive - Experiencia*/
/*=======================*/

@media (max-width: 800px) {
    .moovmedia , .unab {
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        padding-left: 100px;
    }
.txt_moovmedia , .txt_unab {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    #Clientes h2 {
        margin-bottom: 50px;
    }
.logos {
    display: inline;
    max-width: 100%;
    width: 100%;
}
    .clientes_logos1 , .clientes_logos2 {
        max-width: 100%;
        width: auto;
        justify-content: center;
        text-align: center;
        }

}

@media (max-width: 550px) {
    .logos {
        display: inline;
    }
    .clientes_logos1 , .clientes_logos2 {
        display: inline;
        max-width: 100%;
        }

}

/*======================*/
/*Responsive - Contacto*/
/*====================*/
@media (max-width: 550px) {
    .form_input {
        resize: none;
        border: solid;
        width: 450px;
        height: 30px;
        font-size: 20px;
    }

    .form_boton {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #273a97;
        border-radius: 10px;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .form_input {
        resize: none;
        border: solid;
        width: 400px;
        height: 30px;
        font-size: 20px;
    }
}
